/* .transferWrapper {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
} */

.inputsWrapper {
  display: flex;
  gap: 10px;
}

.header {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
}

input {
  display: block;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

button {
  border: none;
  cursor: pointer;
  padding: 5px;
  height: 25px;
  width: 50px;
  border-radius: 5px;
}
