.inputsWrapper {
  display: flex;
  gap: 10px;
}

.header {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
}

.inputsWrapper input {
  display: block;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

.inputsWrapper .invalid {
  background-color: rgba(255, 0, 0, 0.407);
  border: 1px solid #fff;
}

.inputsWrapper .invalid::placeholder {
  color: #fff;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.inputsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.inputsWrapper button {
  border: none;
  cursor: pointer;
  padding: 5px;
  height: 25px;
  width: 50px;
  border-radius: 5px;
}
